<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    {% load static %}

    <!-- 引用全局样式 -->
    <link rel="stylesheet" href="{% static 'main/common.css' %}">

    <!-- 引入 layui 的样式和 JS -->
    <link rel="stylesheet" href="{% static 'main/lib/layui/css/layui.css' %}">
    <script type="javascript" rel="{% static 'main/lib/layui/layui.js' %}"></script>
</head>
<body>
<form class="layui-form" action="main/api/login">
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="phone_number" required lay-verify="required" placeholder="请输入手机号" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>